<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Basic Tables </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
            </ol>
        </nav>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active">Catégories</a></li>
                <li class="nav-item"><a class="nav-link" href="/add-category">Ajouter une catégorie</a>
                </li>
            </ul>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Image
                                </th>
                                <th>
                                   Nom
                                </th>
                                <th>
                                    Slug
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cat of CategoryList">
                                <td >
                                    
                                    <img src="{{'http://localhost:3000/public/categories/'+ cat.categoryImage}}" style="width:60px;height:60px">
                                </td>
                                <td>
                                    {{cat.name}}
                                </td>
                                <td>
                                    {{cat.slug}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    
            </div>
        </div>
    </div>



</div>